@font-face {
	font-family: IRANYekan;
	font-style: normal;
	font-weight: bold;
	src: url('./IranYekan/woff/IRANYekanWebBold.woff') format('woff'),
		url('./IranYekan/woff2/IRANYekanWebBold.woff2') format('woff2');
}

@font-face {
	font-family: IRANYekan;
	font-style: normal;
	font-weight: 100;
	src: url('./IranYekan/woff/IRANYekanWebThin.woff') format('woff'),
		url('./IranYekan/woff2/IRANYekanWebThin.woff2') format('woff2');
}

@font-face {
	font-family: IRANYekan;
	font-style: normal;
	font-weight: 300;
	src: url('./IranYekan/woff/IRANYekanWebThin.woff') format('woff'),
		url('./IranYekan/woff2/IRANYekanWebThin.woff2') format('woff2');
}

@font-face {
	font-family: IRANYekan;
	font-style: normal;
	font-weight: normal;
	src: url('./IranYekan/woff/IRANYekanWebRegular.woff') format('woff'),
		url('./IranYekan/woff2/IRANYekanWebRegular.woff2') format('woff2');
}

@font-face {
	font-family: IRANYekan;
	font-style: normal;
	font-weight: 500;
	src: url('./IranYekan/woff/IRANYekanWebMedium.woff') format('woff'),
		url('./IranYekan/woff2/IRANYekanWebMedium.woff2') format('woff2');
}

@font-face {
	font-family: IRANYekan;
	font-style: normal;
	font-weight: 800;
	src: url('./IranYekan/woff/IRANYekanWebExtraBold.woff') format('woff'),
		url('./IranYekan/woff2/IRANYekanWebExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: IRANYekan;
	font-style: normal;
	font-weight: 850;
	src: url('./IranYekan/woff/IRANYekanWebBlack.woff') format('woff'),
		url('./IranYekan/woff2/IRANYekanWebBlack.woff2') format('woff2');
}

@font-face {
	font-family: IRANYekan;
	font-style: normal;
	font-weight: 900;
	src: url('./IranYekan/woff/IRANYekanWebExtraBlack.woff') format('woff'),
		url('./IranYekan/woff2/IRANYekanWebExtraBlack.woff2') format('woff2');
}


@font-face {
	font-family: KalamehWeb;
	font-style: normal;
	font-weight: 100;
	src: url('./Kalameh/woff2/KalamehWeb-Thin.woff2') format('woff2'),
		url('./Kalameh/woff/KalamehWeb-Thin.woff') format('woff');
}

@font-face {
	font-family: KalamehWeb;
	font-style: normal;
	font-weight: 900;
	src: url('./Kalameh/woff2/KalamehWeb-Black.woff2') format('woff2'),
		url('./Kalameh/woff/KalamehWeb-Black.woff') format('woff')
}

@font-face {
	font-family: KalamehWeb;
	font-style: normal;
	font-weight: bold;
	src: url('./Kalameh/woff2/KalamehWeb-Bold.woff2') format('woff2'),
		url('./Kalameh/woff/KalamehWeb-Bold.woff') format('woff');
}

@font-face {
	font-family: KalamehWeb;
	font-style: normal;
	font-weight: normal;
	src: url('./Kalameh/woff2/KalamehWeb-Regular.woff2') format('woff2'),
		url('./Kalameh/woff/KalamehWeb-Regular.woff') format('woff');
}