/* Import Persian Fonts */
@import url("assets/fonts/font-face.css");

:root {
	/* Color Palette */
	--primary-color: #0066ff;
	--background-color: #282c34;
	--foreground-color: #707175;
	--green-color: #00cea3;
	--red-color: #ff0d3e;
	--cyan-color: #dff1ff;
	--yellow-color: #f1fa8c;
	--gray-color: #a5a5a5;
	--contact-border-color: #707070;
	--contact-bg-color: #31353e;

	/* Fonts */
	--kalameh-font: KalamehWeb, IRANYekan, sans-serif;
	--iranyekan-font: IRANYekan, KalamehWeb sans-serif;
}

* {
	padding: 0;
	margin: 0;
	outline: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	font-family: IRANYekan, KalamehWeb, Raleway, sans-serif !important;
	background-color: var(--background-color) !important;
}

a {
	text-decoration: none !important;
	color: inherit !important;
}

.container {
	max-width: 1400px !important;
	margin: 0 auto !important;
	padding: 0.2em !important;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

select,
input,
button {
	font-family: var(--main-font) !important;
	outline: none;
	border: none;
}

button {
	cursor: pointer;
}

.input {
	padding: 17px 30px;
	font-size: 17px;
	color: rgb(238, 238, 238);
	border-radius: 25px;
	background-color: var(--foreground-color);
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.input::placeholder {
	color: var(--gray-color);
}

.select {
	color: rgb(238, 238, 238);
	font-size: 15px;
	font-weight: 850;
	padding: 15px 20px;
	border-radius: 25px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
	background-color: var(--foreground-color);
	-moz-appearance: none; /* Firefox */
	-webkit-appearance: none; /* Safari and Chrome */
	appearance: none;
}

.select option {
	color: rgb(238, 238, 238);
	font-size: 15px;
	padding: 15px 20px;
	border-radius: 25px;
}

.btn {
	padding: 15px 40px;
	font-size: 18px;
	background: var(--foreground-color);
	border-radius: 50px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	color: rgb(238, 238, 238);
	font-weight: 850;
	transition: all 0.2s ease-in-out;
}

.btn > svg {
	margin-left: 5px;
}

.btn:hover {
	background-color: #7071759c;
}

.btn--blue {
	background-color: var(--primary-color);
}

.btn--blue:hover {
	background-color: #0066ffc0;
}

.btn--add {
	width: 60%;
}

.btn--cancel {
	width: 35%;
}

/* Default Joy UI styles */
.JoyInput-input {
	font-family: var(--iranyekan-font) !important;
}

.MuiButtonBase-root {
}
