/* Import CSS Reset */
@import url("../public/css/reset.css");
/* Import Persian Fonts */
@import url("assets/fonts/font-face.css");

* {
	padding: 0;
	margin: 0;
	outline: none;
	box-sizing: border-box
};

body {
	font-family: iranyekan, KalamehWeb, sans-serif;
}