.ViewContact {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.ViewContactRight {
	width: 30%;
	margin: 150px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.profilePicture {
	width: 300px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background-color: var(--foreground-color);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

.profilePictureImg {
	width: 100%;
	height: 100%;
}

.profilePictureIcon {
	font-size: 200px;
	color: #fff;
}

.ViewContactLeft {
	width: 70%;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
}

.ContactInfoList {
	list-style: none;
}

.ContactItem {
	padding: 18px;
	font-size: 15.5px;
	border-bottom: dashed 1px rgba(255, 255, 255, 0.308);
}

.ContactNameLabel {
	font-size: 18px;
	color: #c2c2c2;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.ContactName {
	color: #fff;
	font-family: var(--iranyekan-font);
	font-weight: 850;
	font-size: 25px;
	margin-top: 7px;
}

.ContactMobileLabel {
	font-size: 18px;
	color: #c2c2c2;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.ContactMobile {
	color: #fff;
	font-family: var(--iranyekan-font);
	font-weight: 850;
	margin-top: 10px;
	font-size: 25px;
	letter-spacing: 2px;
}

.ContactEmailLabel {
	font-size: 18px;
	color: #c2c2c2;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.ContactEmail {
	color: #fff;
	font-family: var(--iranyekan-font);
	font-weight: 850;
	font-size: 25px;
	margin-top: 10px;
}

.ContactJobLabel {
	font-size: 18px;
	color: #c2c2c2;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.ContactJob {
	color: #fff;
	font-family: var(--iranyekan-font);
	font-size: 25px;
	font-weight: 850;
	margin-top: 10px;
}

.ContactGroupLabel {
	font-size: 18px;
	color: #c2c2c2;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.ContactGroup {
	color: #fff;
	font-family: var(--iranyekan-font);
	font-size: 25px;
	font-weight: 850;
	margin-top: 10px;
}
